body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

marquee {
    padding: 1rem;
    background-color: #eee;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
}

h2 {
    color: navy;
    text-align: left;
}

article p {
    text-align: justify;
}

.callout {
    color: #000000;
    background-color: #eeeeee;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* article wider, list narrower */
    gap: 1rem;
}

main h2 {
    grid-column: 1 / -1;
}