h1 {
    text-align: center;
}

main {
    margin:0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

imag {
    width: 100%;
    background: black;
    animation: fade 15s;
    
}

footer {
    text-align: center;
    margin-top: 20px;
    color: black;
}

@keyframes fade{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}