body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
}

header {
    color: #eee;
    background: rgb(68, 67, 67);
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1;
    padding-top: 3rem;
}

header h1 {
    margin: 0;

    padding: 1;
}

main {
    background: grey;
    grid-column: 1 / 3;
    color: black;
}

.right-sidebar {
    background: white;
    grid-column: 3 / 4;
}

footer {
    background: rgb(68, 67, 67);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
    color:#eee;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}


nav {
    margin: 0;
    padding: 0;
}
.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    align-items: center;
    margin: 0;
}
.navigation li {
    flex: 1 1 auto;
    /* What is the difference between auto and 100% flex-basis? - turn on link borders to view */
}

.navigation a {
    display: block;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: yellow;
}