body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

nav {
    padding: 1rem;
    background-color: black;
}

nav a {
    text-decoration: none;
    color: white;
}

header{
    background-color: #3c3737;

}
h1{
    color: white; 
}

main{
    padding: 1rem;
    background-color: #e6e6e6;
}

aside{
    padding: 1rem;
    background-color: #f2f2f2;
}

footer{
    padding: 1rem;
    background-color: #3c3737;
    color: white;
    text-align: center;
}