@media only screen and (min-width: 48rem) {

    main {
        max-width: 700px;
        margin: 2rem auto;
    }

    form {
        gap: 1.5rem;
    }


    .form-group {
        display: grid;
        grid-template-columns: 200px 1fr;
        align-items: center;
        gap: 1rem;
    }

    .form-group textarea {
        grid-column: 2 / 3;
    }

    fieldset {
        padding: 1.5rem;
    }

    input[type="submit"] {
        width: 50%;
        align-self: center;
    }
}