
@media (min-width: 700px) {

    main {
        max-width: 1100px;
    }


    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .hero {
        grid-column: 1 / -1;
        position: relative;
    }

    .data,
    .weather {
        position: absolute;
        top: 2rem;
        background: var(--overlay-bg);
        padding: 1rem;
        border-radius: 8px;
        width: 280px;
        color: var(--secondary-color);
    }

    .data {
        left: 25%;
        top: 30%;
    }

    .weather {
        right: 25%;
        top: 40%;
        
    }

    
    .weather h2::after {
        content: " ⛅";
        font-size: 2rem;
        margin-left: 0.5rem;
    }

    
    .weather-icon {
        display: none;
    }

    
}
