
body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid yellow;
    padding: 1rem;
    background-color: #A7C7E7;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}